/volume
*.zip
*.tar.gz
*.terraform
.terraform.lock.hcl
.terraform.tfstate
.terraform.tfstate.backup
.terraform.tfvars
.terraform.tfvars.json
.terraform.tfvars.local
.terraform.tfvars.example
.terraform.tfvars.sample
.terraform.tfvars.template
.terraform.tfvars.override
.terraform.tfvars.override.json
.terraform.tfvars.override.local
.terraform.tfvars.override.example      
*.terraform/archive
*.terraform/modules
*.terraform/plugins
*.terraform/workspaces
*.terraform/aws/*
